
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>

<div class="top_bg">
	<div class="container">
		<div class="header_top-sec">
			<div class="top_right">
				<ul>
					<li><a href="#">help</a></li>|
					<li><a href="contact.html">Contact</a></li>|
					<li><a href="login.html">Track Order</a></li>
				</ul>
			</div>
			<div class="top_left">
				<ul>
					<li class="top_link">Email:<a href="mailto@example.com"> info(at)Mobilya.com</a></li>|
					<li class="top_link"><a href="login.html">My Account</a></li>|					
				</ul>
				<div class="social">
					<ul>
						<li><a href="#"><i class="facebook"></i></a></li>
						<li><a href="#"><i class="twitter"></i></a></li>
						<li><a href="#"><i class="dribble"></i></a></li>	
						<li><a href="#"><i class="google"></i></a></li>										
					</ul>
				</div>
			</div>
				<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="header_top">
	 <div class="container">
		 <div class="logo">
		 	<a href="index.html"><img src="images/logo.png" alt=""/></a>			 
		 </div>
		 <div class="header_right">	
			 <div class="login">
				 <a href="login.html">LOGIN</a>
			 </div>
			 <div class="cart box_1">
				<a href="#cart">
					<h3> <span >Rs {{cartTotalCost}}</span> (<span >{{carttotalItems}}</span> items)<img src="images/bag.png" alt=""></h3>
				</a>	
				<p><a ng-click="emptyCart()" >Empty cart</a></p>
				<div class="clearfix"> </div>
			 </div>				 
		 </div>
		  <div class="clearfix"></div>	
	 </div>
</div>
<!--cart-->
	 
<!------>
<!--  menu -->
<div ng-include src="template.url" cartmenu></div>
<!---->
<div class="single-sec">
	 <div class="container">
		 <ol class="breadcrumb">
			 <li><a href="index.html">Home</a></li>
			 <li><a href="#products">Products</a></li>
			 <li class="active">Products View</li>
		 </ol>
		 <!-- start content -->	
			<div class="col-md-9 det">
				  <div class="single_left" >
				  		<img src="images/loading.gif" ng-show="loading" style="position: relative;" />
						 <ul id="etalage" >
							<li ng-repeat="item in productImages">
									<img class="etalage_thumb_image" src="images/{{item}}" alt="" class="img-responsive" ></img>
									<img class="etalage_source_image" src="images/{{item}}" alt="" class="img-responsive" title="" /></img>
							</li>
						 </ul>
						 <div class="clearfix"></div>		
				  </div>
				  <div class="single-right">
					 <h3>{{productItem.pname}}</h3>
					 <div class="id"><h4>{{productItem.pid}}</h4></div>
					  
					  <div class="cost">
						 <div class="prdt-cost">
							 <ul>
								 <li>Sellling Price:</li>
								 <li class="active">Rs {{productItem.pp}}</li>
								 <button class="btn btn-info" ng-click="addToCart()" > Add To Cart</button><Br>
								 <a href="#">BUY NOW</a>
							 </ul>
						 </div>
						 <div class="check">
							 <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Enter pin code for delivery & availability</p>
							 <form class="navbar-form navbar-left" role="search">
								  <div class="form-group">
									<input type="text" class="form-control" placeholder="Enter Pin code">
								  </div>
								  <button type="submit" class="btn btn-default">Verify</button>
							 </form>
						 </div>
						 <div class="clearfix"></div>
					  </div>
					  <div class="item-list">
						 <ul>
							 <li>Material: {{productItem.material}}</li>
							 <li>Color: {{productItem.color}}</li>
							 <li>Style: {{productItem.style}}</li>
							 <li>Brand: {{productItem.brand}}</li>
						 </ul>
					  </div>
					  <div class="product-view-quantity-div">
					  <p class="product-view-quantity">Qty : </p>
					  <input type="number" ng-model="quantity" name="quantity" class="product-view-quantity form-control input-small" ng-change='itemChange(list)'>
					  </div>
					  <div class="product-sizes" ng-show="isSizesVisible">
					  	<div class="single-bottom1">
						<h6>Select Size</h6>
					   	</div>
					   	<div class="product-sizes-values" >
					  	 <span ng-class="{selected: isSizeSelectValue == size}" ng-repeat="size in sizes" ng-click='selSize(size)'>{{size}}</span>
					    </div>
					  </div>
					  <div class="single-bottom1">
						<h6>Details</h6>
						<p class="prod-desc">{{productItem.details}}.</p>
					 </div>					 
				  </div>
				  <div class="clearfix"></div>
				  <div class="sofaset-info">
						 <h4>Product Summary {{productItem.pname}}</h4>
						 <ul>
							 <li ng-repeat="summary in summary">{{summary}}</li>
						 </ul>
				  </div>				  					
		    </div>
			<div class="rsidebar span_1_of_left">
            <div class="guarantee-details">						 
			<div class="guarantee">
            <div>
              <small class="genuine-products __web-inspector-hide-shortcut__"></small>
              <span><strong>100% genuine</strong> products guarantee</span>
            </div>
            <div>
              <small class="easy-return"></small>
              <span><strong>easy return</strong> No Question Asked!</span>
            </div>
            <div>
              <small class="money-back"></small>
              <span><strong>15 days</strong> Moneyback Guarantee</span>
            </div>
          </div>
          </div>
          						  
			   </div>
		</div>	     				
		     <div class="clearfix"></div>
	  </div>	 
</div>
<!---->
<div class="footer-content">
	 <div class="container">
		 <div class="ftr-grids">
			 <div class="col-md-3 ftr-grid">
				 <h4>About Us</h4>
				 <ul>
					 <li><a href="#">Who We Are</a></li>
					 <li><a href="contact.html">Contact Us</a></li>
					 <li><a href="#">Our Sites</a></li>
					 <li><a href="#">In The News</a></li>
					 <li><a href="#">Team</a></li>
					 <li><a href="#">Carrers</a></li>					 
				 </ul>
			 </div>
			 <div class="col-md-3 ftr-grid">
				 <h4>Customer service</h4>
				 <ul>
					 <li><a href="#">FAQ</a></li>
					 <li><a href="#">Shipping</a></li>
					 <li><a href="#">Cancellation</a></li>
					 <li><a href="#">Returns</a></li>
					 <li><a href="#">Bulk Orders</a></li>
					 <li><a href="#">Buying Guides</a></li>					 
				 </ul>
			 </div>
			 <div class="col-md-3 ftr-grid">
				 <h4>Your account</h4>
				 <ul>
					 <li><a href="account.html">Your Account</a></li>
					 <li><a href="#">Personal Information</a></li>
					 <li><a href="#">Addresses</a></li>
					 <li><a href="#">Discount</a></li>
					 <li><a href="#">Track your order</a></li>					 					 
				 </ul>
			 </div>
			 <div class="col-md-3 ftr-grid">
				 <h4>Categories</h4>
				 <ul>
					 <li><a href="#">> Furinture</a></li>
					 <li><a href="#">> Bean Bags</a></li>
					 <li><a href="#">> Decor</a></li>
					 <li><a href="#">> Kichen & Dinning</a></li>
					 <li><a href="#">> Bed & Bath</a></li>
					 <li><a href="#">...More</a></li>					 
				 </ul>
			 </div>
			 <div class="clearfix"></div>
		 </div>
	 </div>
</div>
<!---->
<div class="footer">
	 <div class="container">
		 <div class="store">
			 <ul>
				 <li class="active">OUR STORE LOCATOR::</li>
				 <li><a href="#">Noida</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Belgium</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">China</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Thane</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Chennai</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Armenia</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Kolkata</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Malaysia</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Indonesia</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Mumbai</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Kerala</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Spain</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Northern Ireland</a></li>	
				 <li><a href="#">|</a></li>				 
				 <li><a href="#">Mohali</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Gurgaon</a></li>
				 <li><a href="#">|</a></li>
				 <li><a href="#">Panchkula</a></li>
				 <li><a href="#">|</a></li>				 
				 <li><a href="#">Ambala</a></li>	
			 </ul>
		 </div>		 
		 <div class="copywrite">
			 <p>Copyright © 2015 Furnyish All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
		 </div>			 
		 </div>
	 </div>
</div>
<!---->
