.cartclose{
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  top: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.guarantee span strong {
	display: block;
	text-transform: uppercase;
}

.guarantee div {
	margin-bottom: 10px;
	border: 1px solid #f2f2f2;
	background-color: #fff;
	padding: 12px;
}
.guarantee-details div{
	line-height: 18px;
}

.product-sizes div {
	margin-bottom: 10px;
}

.product-sizes-name div{
	margin-top: 5px;
	margin-botton: 5px;
}

.product-sizes-values span{
	border: 1px solid;
	padding: 6px 9px;
	display: inline-block;
	font-size: 14px;
    cursor: pointer;
    margin-right: 5px;
    margin-bottom: 5px;
}

.product-sizes-values span.selected {
	border: 1px solid #08c;
    background-color: #08c;
    color: #fff;
}

.product-view-quantity-div {
	display:inline-block;
	margin-top: 10px;
}

.product-view-quantity  {
	display:inline-block;
}